* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: purple;
  display: flex;
}
.comm {
  grid-area: comm;
  color: white;
  font-size: 20px;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links li {
  display: inline-block;
  margin: 0 15px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
}
.content {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.content h1 {
  font-size: 60px;
  margin-bottom: 40px;
}
.content form button {
  background: orange;
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
