* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: row;
  background-color: beige;
  align-items: center;
  justify-content: space-around;
}
.container1 {
  font: 100px;
}
span{
  color: gray;
}
.skills{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}
.skills1{
  font: 100px;
  align-items: center;
  justify-content: center;
}
.img{
  align-self: flex-start;

}
